@model IEnumerable<Projektverwaltung.Models.Project>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h1>Projects</h1>

<div class="position-relative">

    <img src="~/images/project-management.svg"
         class="position-absolute opacity-25"
         style="right:120px; top:0; max-height:300px; z-index:0;" />

    <div style="position:relative; z-index:1;">

        <form method="get" form asp-action="Index" class="mb-3" style="max-width:420px;">

            <div class="input-group">

                <input name="searchTerm" value="@ViewBag.FilterProject" class="form-control mb-3" placeholder="Filter by projects" />

            </div>


            <select name="status" class="form-select mb-3" value="@ViewBag.Status">

                <option value="" disabled hidden selected="@(ViewBag.Status == null)">Filter by project status</option>

         
                <option value="" selected="@(ViewBag.Status != null && ViewBag.Status.ToString() == "")">All</option>
                <option value="Planned" selected="@(ViewBag.Status?.ToString() == "Planned")">Planned</option>
                <option value="Active" selected="@(ViewBag.Status?.ToString() == "Active")">Active</option>
                <option value="Completed" selected="@(ViewBag.Status?.ToString() == "Completed")">Completed</option>

            </select>

            <button type="submit" class="btn btn-secondary mb-4 btn-sm">
                Filter
            </button>

            @if (ViewBag.FilterProject != null)
            {
                <div class="d-flex align-items-center gap-2 mb-4">

                    <span class="text-muted">
                        Filtered by:
                    </span>

                    <span class="badge bg-dark">
                        @ViewBag.FilterProject
                    </span>

                    <a asp-action="Index"
                       class="btn btn-sm btn-outline-secondary btn-sm">
                        Remove Filter
                    </a>

                </div>
            }
        </form>

        <p>
            <a asp-action="Create" class="btn btn-success btn-sm">Create New Project</a>
        </p>

        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th class="text-nowrap">
                        @Html.DisplayNameFor(model => model.CurrentStatus)
                    </th>
                    <th class="text-nowrap">
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectName)
                        </td>
                        <td>
                            @{
                                var shortDescription =
                                    item.Description?.Length > 120
                                    ? item.Description.Substring(0, 120) + "..."
                                    : item.Description;
                            }

                            @shortDescription

                            @if (item.Description?.Length > 120)
                            {
                                <a asp-action="Details"
                                   asp-route-id="@item.ProjectId"
                                   class="ms-1 text-decoration-none">

                                    Read more

                                </a>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrentStatus)
                        </td>
                        <td>
                            @item.CreatedOn.ToString("dd.MM.yyyy")
                        </td>
                        <td>
                            <div class="d-flex gap-2">

                                <a asp-action="Edit" class="btn btn-outline-warning btn-sm" asp-route-id="@item.ProjectId">Edit</a>
                                <a asp-action="Details" class="btn btn-outline-primary btn-sm" asp-route-id="@item.ProjectId">Details</a>
                                <a asp-action="Delete" class="btn btn-outline-danger btn-sm" asp-route-id="@item.ProjectId">Delete</a>
                                <a asp-controller="ProjectTask"
                                   asp-action="Index"
                                   asp-route-projectId="@item.ProjectId"
                                   class="btn btn-outline-dark btn-sm">
                                    Tasks
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

                        
